{% extends "base.html.twig" %}
{% block body %}


    <section id="add">
        <a href="/">← Retour</a>
        <h1>Ajouter une voiture</h1>

        <form action="{{ path('api_submit_new_car') }}" method="POST">
            {{ form_widget(form._token) }}
            <div class="input">
                {{ form_row(form.name) }}
            </div>
            <div class="input">
                {{ form_row(form.description) }}
            </div>
            <div class="input">
                {{ form_row(form.monthlyPrice) }}
            </div>
            <div class="input">
                {{ form_row(form.dailyPrice) }}
            </div>
            <div class="input">
                {{ form_row(form.places) }}
            </div>
            <div class="input">
                {{ form_row(form.manual) }}
            </div>
            <div class="input">
                {{ form_row(form.save, {'attr': {'class': 'btn-add'}}) }}
            </div>
        </form>
    </section>

{% endblock %}